.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}
.page-heading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:brown
}
table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid brown;
    padding: 10px;
}
thead {
    font-weight: bold;
    color: rgb(94, 1, 1);
}
.table-body {
    background-color: rgb(254, 246, 232);
}
th {
    background-color: rgb(251, 216, 222);
    border: 2px solid brown;
    padding: 8px
};
